@using BigFile.BLL;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>浙江旅游图片库</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="~/Content/main.css" rel="stylesheet" type="text/css">
    
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="logoname">浙江旅游图片库管理</div>

            <div class="top">

                <div class="loginfo">
                    <div class="userinfo">欢迎您: @User.GetUserName()</div>
                    <div class="pwd">@Html.ActionLink("修改密码", "Pwd", "ManageUser")</div>
                    <div class="logout">
                        @Html.ActionLink("退出", "LoginOut", "Login")
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </header>
        <aside>
            @RenderPage("~/Views/Shared/_LeftMenu.cshtml")
        </aside>
        <!--主体-->
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
